<div class="container" *ngIf="albums"> <!-- Use *ngIf to make sure posts is defined -->
  <p class="fs-2 text-capitalize text-center">{{ albums.title }}</p>

  <div class="container mt-5 bg-primary text-light shadow card border-0 bg-gradient">
    <div class="row">
      <div class=" col-sm-10 col-md-5 col-lg-4 mx-auto ">
        <p class="fs-1 card-title text-center text capitlize">photos</p>
          <div *ngFor="let photo of photos" class="card border-0 shadow bg-light border my-3">
            <img [src]="[photo.url]" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-capitalize">{{ photo.title }}</h5>
              <img [src]="[photo.thumbnailUrl]">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
