<div class="container mt-5">
  <div class="row">
    <marquee direction="left" scrollamount="20" class="text-3d mb-5 pb-5">Hover Over the Elements In The Skills Card</marquee>
  </div>
  <div class="row">
    
    <div class="">
      <div class="infographic shadow-lg mb-5" (mouseover)="onInfographicHover()" (mouseout)="onInfographicMouseOut()">
        <h1 class="Wisdom-Hover">Wisdom Skills</h1>
        <ul>
          <li *ngFor="let skill of skills" class="skill-item">
            <h2 class="">{{ skill.name }}</h2>
            <div class="progress">
              <div class="progress-bar"
                role="progressbar"
                [style.width.%]="skill.progress"
                [attr.aria-valuenow]="skill.progress"
                aria-valuemin="0"
                aria-valuemax="100"
                (mouseover)="onProgressHover($event, skill.progress)"
                (mouseout)="onProgressMouseOut($event)">
                {{ skill.progress }}%
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container">
  
  <div class="row">
    <div class="card col-sm-10 col-md-5 col-lg-4 mx-auto text-center mb-5 p-2 shadow bg-light border border-light" style="width: 18rem;" *ngFor="let nav of navCards">
      <div class="card-body">
        <h5 class="card-title text-primary">{{nav.title}}</h5>
        <a [routerLink]="[nav.url]" routerLinkActive="activated" class="card-link">
          <div class="d-grid gap-2 pt-3">
            <button type="button" class="btn btn-primary">Check {{nav.title}}</button>
          </div>
        </a>
      </div>
    </div>  
  </div>

</div>