<div class="container">
  <p class="text-center text-3d-heading">Albums</p>
  <div class="row">
    <div class="card col-sm-10 col-md-5 col-lg-4 mx-auto text-center mb-5 p-2 shadow bg-light border border-light" style="width: 18rem;" *ngFor="let album of albums">
      <div class="card-body">
        <h5 class="card-title text-primary text-capitalize">{{album.title}}</h5>
        <a [routerLink]="[album.id]" routerLinkActive="activated" class="card-link">
          <div class="d-grid gap-2 pt-3">
            <button type="button" class="btn btn-primary bg-gradient">Read more </button>
          </div>
        </a>
      </div>
    </div>  
  </div>

</div>