<div class="bg-warning page">
  <!-- header -->
  <nav class="navbar navbar-expand-lg rounded-bottom shadow sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand text-3d-logo text-uppercase col-3" routerLink="home">Wisdom Ubaka</a>
      <button
        class="navbar-toggler text-primary border border-primary"
        type="button"
        (click)="isMenuCollapsed = !isMenuCollapsed"
      >
      &#9776;
      </button>
      <div
        [ngbCollapse]="isMenuCollapsed"
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
      >
        <ul
          class="navbar-nav mx-auto mb-2 mb-lg-0"
          *ngFor="let nav of navLists"
        >
          <li class="nav-item">
            <a
              class="nav-link link text-primary rounded-5 fw-bold"
              aria-current="page"
              [routerLink]="[nav.url]"
              routerLinkActive="activated"
              >
                {{ nav.title }}
              </a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- header ends -->

 <div class="body">
  <router-outlet></router-outlet>
 </div>

</div>
