<div class="container">
<h2 class="text-3d text-center mt-5">Users</h2>
<div class="card-deck">
  <div class="card shadow my-3 border-0" *ngFor="let user of users">
    <div class="card-body">
      <h5 class="card-title">{{user.name}}</h5>
      <p class="card-text">{{user.email}}</p>
    </div>
  </div>
</div>
</div>

<div class="container">
<h2 class="text-3d text-center mt-5">Posts</h2>
<div class="card-deck">
  <div class="card shadow my-3 border-0" *ngFor="let post of posts">
    <div class="card-body">
      <h5 class="card-title text-capitalize">{{post.title}}</h5>
      <p class="card-text">{{post.body}}</p>
     
    </div>
  </div>
</div>
</div>
