p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-3d-logo {
  text-shadow: 1px 1px 0 rgb(187, 176, 176), 2px 2px 0 rgb(219, 209, 209), 3px 3px 0 rgb(168, 157, 157);
  /* font-size: 4em; */
  color: rgb(17, 0, 255);
  transform: rotateY(20deg);
  font-family: cursive;
}

.page {
  height: 100%;
}

.body{
  padding: 10% 0;
}

a.link{
  text-decoration: none;
}

a.link:hover{
  background-color: rgb(255, 255, 255);
  color: white;
  
}

@media (max-width: 576px){
  .nav-bg{
    background-color: rgba(255, 166, 0, 0.555);
  }
}
