/* Add application styles & imports to this file! */
.text-3d-heading {
  text-shadow: 1px 1px 0 rgb(187, 176, 176), 2px 2px 0 rgb(219, 209, 209), 3px 3px 0 rgb(168, 157, 157);
  /* font-size: 4em; */
  color: rgb(17, 0, 255);
  transform: rotateY(20deg);
  font-family: Arial;
  font-size: 300%;
  margin: 5% 0 25% 0;
}

.card-glass{
  background: rgba(255, 255, 255, 0.226) !important;
backdrop-filter: blur(10px) !important;
border: 1px solid rgba(255, 255, 255, 0.1) !important;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}